.back{
    background-color: white;
  }
  
  .container {
    background-color: white; /* Set background color to white */
  }
  .container h1{
    color: black;
    margin-left: 30%;
  }
  .container p{
    color: black;
  }
  
  .contactForm {
    display: flex;
    flex-direction: column;
    background-color: white; /* Ensure form background is white */
    padding: 20px; /* Add padding to the form */
    border-radius: 8px; /* Rounded corners for the form */
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: white; /* Set background color to white */
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .contactForm label {
    margin-bottom: 10px;
    color: black; /* Set label text color to black */
  }
  
  .input, .textarea {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #ccc;
    color: black; /* Set input text color to black */
    background-color: white; /* Ensure input background is white */
  }
  
  .textarea {
    resize: vertical;
  }
  
  .submitButton {
    padding: 10px;
    background-color: #0070f3; /* Change this to your desired color */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 20%;
    margin-right: 20%;
    display: block;
  }
  
  .submitButton:hover {
    background-color: #005bb5; /* Darker shade for hover effect */
  }